// GRID

$grid-breakpoints: (
  xs: 0,
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px
) !default;

$xl-break: "screen and (min-width:" + map-get($grid-breakpoints, 'xl') + ")";
$lg-break: "screen and (min-width:" + map-get($grid-breakpoints, 'lg') + ")";
$md-break: "screen and (min-width:" + map-get($grid-breakpoints, 'md') + ")";
$sm-break: "screen and (min-width:" + map-get($grid-breakpoints, 'sm') + ")";
// $xs-break: "screen and (min-width:" + map-get($grid-breakpoints, 'xs') + ")";

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;

// .container {
//     width:100%;
//     margin: auto;

//     @media #{$sm-break} {
//         max-width: map-get($container-max-widths, 'sm');
//     }

//     @media #{$md-break} {
//         max-width: map-get($container-max-widths, 'md');
//     }

//     @media #{$lg-break} {
//         max-width: map-get($container-max-widths, 'lg');
//     }

//     @media #{$xl-break} {
//         max-width: map-get($container-max-widths, 'xl');
//     }

//     &-fluid {
//         width:100%;
//         max-width: none;
//     }
// }
