@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap');

$primary: #4B37AB;
$secondary:#FBAB7E;
$tertiary:#17698C; //#24B9FA;
$accent: #F7CE68;
$accent-b: #5992AB;
$warning: #EDB95E;
$l-gray: #F2F2F3;
$m-gray: #C8CDD0;
$d-gray: #415058;
$dark: #1F292E;

$gradient: linear-gradient(223deg, $primary 0%, $accent 100%);

html,
body {
  height:100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, $secondary 0%, $accent 100%);
  color: $dark;
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.block {
  width:100%;
  margin: auto;
  max-width: 400px;
  box-shadow: 0rem 2.25rem 5rem 0rem rgba(0,0,0,0.322);
  border-radius: 0;
  background-color: $l-gray;
  
  &-header {
    background-color: $tertiary;
    padding: 1rem;
    color: $l-gray;

    h1 {
      margin: 0;
    }
  }

  // Socials

  &-social {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    margin-left: -1rem;
    margin-top: .5rem;

    li {
      a {
        display: block;
        padding: .5rem 1rem;
        color: $l-gray;
        &:hover {
          color: $accent;
        }
      }
    }
  }

  // Links

  &-links {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin: 1rem;
    li {
      margin: 0 .5rem;

      a {
        display: block;
        padding: .5rem;
        border-radius: 5px;
        color: $l-gray;
        background-color: $accent-b;
        text-transform: uppercase;

        &:hover {
          text-decoration: none;
          background-color: $d-gray;
        }
      }
    }
  }

  // Projects
  
  &-project {

    h2 {
      font-size: 1.5rem;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 1rem;
    }

    h3 {
      font-size: 1.25rem;
    }
    .carousel {
      width: 100%;
      height: 300px;

      &-item {
        width: 100%;
        height: 300px;


        img {
          width: 100%;  
          height: 300px;
          object-fit: cover;
        }
      }
    }
  }
}

// Kofi

.kofi {
  text-align: center;
  padding: 2rem;

  a {
    display: inline-block;

    &:hover {
      opacity: .9;
    }

    img {
      height: 30px;
    }
  }
}